ADMIN_PASSWORD=ввести
EMAILJS_PRIVATE_KEY=ввести
NEXT_PUBLIC_EMAILJS_SERVICE_ID=ввести
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=ввести
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=ввести
NEXT_PUBLIC_APP_URL=http://localhost:3000